@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to KHD Movie App</h1>
    <p>Find any Latter-day Saints Moive of your choice.</p>
    <img class="rounded img-thumbnail" src="/OIG2.jpeg" alt="MegaDesk Header Image" />
</div>
